<div class="h-screen flex flex-col items-center text-white">
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    id="spinner"
    size="medium"
    color="#fff"
    type="ball-clip-rotate-pulse"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
  <app-modal></app-modal>

  <app-header></app-header>
  <app-score (newGame)="onClickNext()"></app-score>

  <app-result></app-result>

  @if (pokemon) {
    <div class="flex flex-col md:flex-row items-center">
      <app-silhouette [silhouetteUrl]="pokemon.image"></app-silhouette>

      <div
        class="flex flex-col items-center w-60 md:w-[30rem] md:ml-36 h-full justify-center md:mt-20 mt-2"
      >
        <app-choices
          [options]="pokemon.names"
          (onSelect)="onClickOption($event)"
        ></app-choices>
        <app-game-options (next)="onClickNext()"></app-game-options>
      </div>
    </div>
  }
</div>
